body {
  font-family: 'Open Sans', sans-serif;
}
.section {
  padding: 0 0 3rem;
  text-align: center;
  letter-spacing: 1.1px;
}
.section.heading {
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
.section.heading h1 {
  margin-bottom: 0;
}
.navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.navbar ul{
  list-style: none;
  margin-bottom: 0;
}
.navbar li {
  display: inline;
}
.navbar li .v-link-active {
  font-weight: bold; }
.navbar li a{
  margin-left: 17px;
  margin-right: 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
  letter-spacing: 0.2rem;
  line-height: 5rem;
}
.navbar li a:hover{
  color: #f77;
}
.panel {
  padding: 1.5rem;
}
.panel p {
  margin-bottom: 0
}

.project-list {

  text-align: left;
}

.project {  

  padding: 5px;
  background-color: #FFF;
  margin-bottom: 10px;

}

.project-title {
  font-weight: bold;
  font-size: 1.15em;
}
.project-desc {
  font-size: 1em;
}

.links ul {
  padding: 0px;
  list-style: none;
  }
.links li {
  display: inline }
.links li a{
  text-decoration: none }
.links svg{
  height: 4rem;
  width: 4rem }
#linkedin {fill: #0077B5}
#github {fill: #181717}
